wordscape.colors {
    grey: '#51607f',
    blue: '#95cdff',
    darkBlue: '#4b667f',
    darkerBlue: '#005eb4',
    green: '#69ac23',
    darkGreen: '#137703',
    purple1: '#b079ff',
    darkPurple1: '#664cb7',
    purple2: '#563b7d',
    darkPurple2: '#2b1e3f',
    pink: '#ff5cd8',
    yellow: '#ffd367',
    yellow2: '#ffc32e'
}